<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <div class="section">
        <div class="conteiner_img">
            <img class="fondo" crosgin="anonymous" src="resource/screen.webp" draggable="false"
                alt="Gradient Backgrousorind">
        </div>
        <div class="container">
            <div class="container-header">
                <div class="header-opt1">
                    <div class="left-line">
                        <div class="img-logo">
                            <img class="T96P6A" crossorigin="anonymous" src="resource/t_002.png"
                                draggable="false">
                        </div>
                    </div>
                    <!-- 
                    <div class="line"
                        style="width: 21.8957px; height: 0.942px; transform: translate(108.409px, 13.1449px) rotate(-90deg);">
                        <div class="" style="transform: scale(0.314);"><svg class="urh_lA"
                                style="stroke: rgb(0, 0, 0); fill: rgb(0, 0, 0);">
                                <g>
                                    <g class="_682gpw" style="touch-action: pan-x pan-y pinch-zoom;">
                                        <path d="M0,1.5L69.73154262729145,1.5" stroke-linecap="butt" stroke-width="3"
                                            fill="none" pointer-events="auto"></path>
                                    </g>
                                </g>
                            </svg></div>
                    </div> -->
                    <div class="rigth-line">
                        <div class="img-logo1">
                            <img class="T96P6A" crossorigin="anonymous" src="resource/t_004.png"
                                draggable="false">
                        </div>
                        <div class="img-logo2">

                            <img class="T96P6A" crossorigin="anonymous" src="resource/t_003.webp"
                                draggable="false">
                        </div>
                    </div>
                </div>
                <div class="header-opt2">
                    <div class="left-logos">
                        <div class="logo-f1">

                        <img class="T96P6A" crossorigin="anonymous" src="resource/t_003.png"
                        draggable="false">
                        </div>
                        <div class="logo-xbox">

                        <img class="T96P6A" crossorigin="anonymous" src="resource/t_005.png"
                            draggable="false">
                        </div>
                    </div>
                    <div class="rigth-texts">
                        <span class="text-title">DRIVERS' STANDINGS</span>
                        <span class="text-league">SPEED LEGENDS LEAGUE</span>
                    </div>
                </div>
            </div>
            <div class="container-body">
                <div class="text-title">
                    <span>Ronda 6 - China GP</span>
                </div>
                <div class="list-pilots">
                    <div class="row-pilot">
                        <div class="element-name">
                            <img class="team-pilot" crosgin="anonymous" src="resource/t_007.png" draggable="false"
                                alt="Gradient Backgrousorind">
                            <span>STRIC</span>
                        </div>
                        <div class="element-points">
                            <span>500</span>
                        </div>
                        <div class="element-icon">
                            <img src="./resource/up-arrow.svg" alt="My Happy SVG" />

                        </div>
                    </div>
                    <div class="row-pilot">
                        <div class="element-name">
                            <img class="team-pilot" crosgin="anonymous" src="resource/t_006.png" draggable="false"
                                alt="Gradient Backgrousorind">
                            <span>STRIC</span>
                        </div>
                        <div class="element-points">
                            <span>5</span>
                        </div>
                        <div class="element-icon">
                            <img src="./resource/up-arrow.svg" alt="My Happy SVG" />
                        </div>
                    </div>
                    <div class="row-pilot">
                        <div class="element-name">
                            <img class="team-pilot" crosgin="anonymous" src="resource/t_008.png" draggable="false"
                                alt="Gradient Backgrousorind">
                            <span>STRIC</span>
                        </div>
                        <div class="element-points">
                            <span>5</span>
                        </div>
                        <div class="element-icon">
                            <img src="./resource/up-arrow.svg" alt="My Happy SVG" />
                        </div>
                    </div>
                    <div class="row-pilot">
                        <div class="element-name">
                            <img class="team-pilot ferrari" crosgin="anonymous" src="resource/t_010.png" draggable="false"
                                alt="Gradient Backgrousorind">
                            <span>STRIC</span>
                        </div>
                        <div class="element-points">
                            <span>5</span>
                        </div>
                        <div class="element-icon">
                            <img src="./resource/up-arrow.svg" alt="My Happy SVG" />
                        </div>
                    </div>
                    <div class="row-pilot">
                        <div class="element-name">
                            <img class="team-pilot" crosgin="anonymous" src="resource/t_008.png" draggable="false"
                                alt="Gradient Backgrousorind">
                            <span>STRIC</span>
                        </div>
                        <div class="element-points">
                            <span>5</span>
                        </div>
                        <div class="element-icon">
                            <img src="./resource/up-arrow.svg" alt="My Happy SVG" />
                        </div>
                    </div>
                    <div class="row-pilot">
                        <div class="element-name">
                            <img class="team-pilot" crosgin="anonymous" src="resource/t_008.png" draggable="false"
                                alt="Gradient Backgrousorind">
                            <span>STRIC</span>
                        </div>
                        <div class="element-points">
                            <span>5</span>
                        </div>
                        <div class="element-icon">
                            <img src="./resource/up-arrow.svg" alt="My Happy SVG" />
                        </div>
                    </div>
                    <div class="row-pilot">
                        <div class="element-name">
                            <img class="team-pilot" crosgin="anonymous" src="resource/t_008.png" draggable="false"
                                alt="Gradient Backgrousorind">
                            <span>STRIC</span>
                        </div>
                        <div class="element-points">
                            <span>5</span>
                        </div>
                        <div class="element-icon">
                            <img src="./resource/up-arrow.svg" alt="My Happy SVG" />
                        </div>
                    </div>
                    <div class="row-pilot">
                        <div class="element-name">
                            <img class="team-pilot" crosgin="anonymous" src="resource/t_008.png" draggable="false"
                                alt="Gradient Backgrousorind">
                            <span>STRIC</span>
                        </div>
                        <div class="element-points">
                            <span>5</span>
                        </div>
                        <div class="element-icon">
                            <img src="./resource/up-arrow.svg" alt="My Happy SVG" />
                        </div>
                    </div>
                    <div class="row-pilot">
                        <div class="element-name">
                            <img class="team-pilot" crosgin="anonymous" src="resource/t_008.png" draggable="false"
                                alt="Gradient Backgrousorind">
                            <span>STRIC</span>
                        </div>
                        <div class="element-points">
                            <span>5</span>
                        </div>
                        <div class="element-icon">
                            <img src="./resource/up-arrow.svg" alt="My Happy SVG" />
                        </div>
                    </div>
                    <div class="row-pilot">
                        <div class="element-name">
                            <img class="team-pilot" crosgin="anonymous" src="resource/t_008.png" draggable="false"
                                alt="Gradient Backgrousorind">
                            <span>STRIC</span>
                        </div>
                        <div class="element-points">
                            <span>5</span>
                        </div>
                        <div class="element-icon">
                            <img src="./resource/up-arrow.svg" alt="My Happy SVG" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>